@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/* ________ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto';
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 390px) {
    .container {
      padding: 0 5px; } }

/*HEADER===============================*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }

.header-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fixed {
  position: fixed;
  background-color: #151b24; }

.header-logo {
  padding: 0px 0px 5px 0px; }

.header-menu-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  @media (max-width: 767px) {
    .header-menu-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.header-menu__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 60px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .header-menu__link:hover {
    color: #16c2a3; }
  @media (max-width: 990px) {
    .header-menu__link {
      margin-left: 60px; } }

.header-burger {
  display: none; }

.header-burger__item:before, .header-burger__item:after {
  content: "";
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 1; }

.header-burger__item {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative; }
  .header-burger__item:before {
    top: -8px;
    width: 20px; }
  .header-burger__item:after {
    width: 30px;
    bottom: -8px; }

/*Основной блок======================*/
h2 {
  font-size: 36px;
  font-weight: 700;
  color: #4b4b4d; }

h3 {
  color: #4b4b4d;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; }

.btn {
  display: block;
  width: 183px;
  height: 55px;
  border-radius: 28px;
  background-color: #4b4b4d;
  color: #fafeff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 18px;
  position: relative;
  z-index: 1; }

.btn--green:hover {
  background-color: #0f8772; }

.btn--black:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-image: -webkit-gradient(linear, left top, right top, from(#29c29e), to(#d3c572));
  background-image: -webkit-linear-gradient(left, #29c29e 0%, #d3c572 100%);
  background-image: -o-linear-gradient(left, #29c29e 0%, #d3c572 100%);
  background-image: linear-gradient(90deg, #29c29e 0%, #d3c572 100%);
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0; }

.btn--black:hover:after {
  opacity: 1; }

.btn--black:active {
  background-color: #fff; }

.btn--black:active:after {
  -webkit-transform: translate(0%, 10%);
  -ms-transform: translate(0%, 10%);
  transform: translate(0%, 10%); }

.btn--black span {
  position: relative;
  z-index: 3; }
  .btn--black span:active {
    -webkit-transform: translate(0%, 10%);
    -ms-transform: translate(0%, 10%);
    transform: translate(0%, 10%); }

.banner {
  padding-top: 5px;
  background: url("../img/Banner.jpg") 0 0/cover no-repeat;
  height: 100vh; }

.banner-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.banner-column {
  max-width: 470px; }

.banner__title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 57px; }

.banner__text {
  margin-top: 40px;
  max-width: 430px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px; }

.banner__btn {
  margin-top: 40px;
  cursor: pointer;
  background-color: #16c2a3;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.about-row {
  padding: 114px 0px 100px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  @media (max-width: 767px) {
    .about-row {
      padding: 64px 0px 50px 0px; } }

.about-column__image img {
  margin-left: -277px; }
  @media (max-width: 767px) {
    .about-column__image img {
      display: none; } }

.about-column {
  margin-left: 110px; }
  @media (max-width: 767px) {
    .about-column {
      margin-left: 0px; } }

.about-column__title {
  margin-top: 126px;
  letter-spacing: 1.8px; }

.about-column__text {
  text-align: justify;
  color: #4b4b4d;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.9px;
  margin-top: 40px; }

.about-column__btn {
  margin-top: 50px; }

.services {
  padding: 115px 0px 175px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 995px) {
    .services {
      padding: 115px 0px 75px 0px; } }

.services__title {
  text-align: center; }

.services__subtitle {
  max-width: 695px;
  margin-top: 40px;
  text-align: center;
  color: #4b4b4d;
  font-size: 16px;
  line-height: 24.95px; }

.services-row {
  margin-top: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.services-item {
  width: 33.3333%;
  padding: 0 10px 0;
  margin: 0px 0px 56px; }
  @media (max-width: 995px) {
    .services-item {
      width: 50%; } }
  @media (max-width: 578px) {
    .services-item {
      width: 100%; } }

.services-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 40px 31px 50px;
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#29c29e), to(#d3c572));
  -webkit-border-image: -webkit-linear-gradient(left, #29c29e 0%, #d3c572 100%);
  -o-border-image: -o-linear-gradient(left, #29c29e 0%, #d3c572 100%);
  border-image: -webkit-gradient(linear, left top, right top, from(#29c29e), to(#d3c572));
  border-image: linear-gradient(to right, #29c29e 0%, #d3c572 100%);
  border-image-slice: 1;
  position: relative; }

.services-column__title {
  margin-top: 30px;
  color: #4b4b4d;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  text-align: center; }

.services-column__subtitle {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 30px;
  color: #4b4b4d;
  font-size: 16px;
  line-height: 24.95px;
  text-align: center; }

.services-column__button {
  margin-top: 30px;
  position: absolute;
  bottom: -8%; }

.services-subscribe {
  padding: 90px 24px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../img/Services_subscribe.png") 0 0/cover no-repeat; }

.services-subscribe__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: center; }

.services-subscribe__subtitle {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 17px;
  max-width: 244px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-bottom: 30px; }

@media (max-width: 1220px) {
  .services-subscribe-form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.services-subscribe__email {
  padding: 0 35px 0 30px;
  max-width: 200px;
  font-size: 16px;
  border-radius: 30px 30px 30px 30px;
  background-color: #fafafa;
  line-height: 57px; }
  @media (max-width: 1220px) {
    .services-subscribe__email {
      max-width: 250px;
      padding: 0 15px; } }

.services-subscribe__btn {
  margin-left: -45px;
  padding: 0 15px;
  border-radius: 30px;
  color: #4b4b4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 57px;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .services-subscribe__btn:hover {
    background-color: #40cdb4; }
  @media (max-width: 1220px) {
    .services-subscribe__btn {
      margin-left: 0;
      margin-top: 10px;
      line-height: 47px; } }

.whyus-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px; }

.whyus-column {
  width: 50%; }
  @media (max-width: 995px) {
    .whyus-column {
      width: 100%; } }

.whyus-column-info {
  padding-right: 60px; }
  @media (max-width: 995px) {
    .whyus-column-info {
      margin-bottom: 80px; } }
  @media (max-width: 590px) {
    .whyus-column-info {
      padding-right: 0px; } }

.whyus-column-info__subtitle {
  color: #4b4b4d;
  font-size: 14px;
  line-height: 36.12px;
  text-transform: uppercase; }

.whyus-column-info__title {
  margin-top: 30px;
  color: #4b4b4d;
  font-size: 36px;
  font-weight: 700;
  line-height: 36.12px; }

.whyus-column-info__text {
  margin: 40px 0px;
  color: #4b4b4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.53px;
  text-align: justify; }

.whyus-column-info__btn-signup {
  display: inline-block;
  background-color: #16c2a3;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 14px;
  height: 51px; }

.whyus-column-info__btn-watch {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
  height: 51px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  @media (max-width: 579px) {
    .whyus-column-info__btn-watch {
      margin: 20px 0 0 0px; } }

.whyus-column-list {
  margin-top: 25px; }

.whyus-column-list-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin-bottom: 40px; }
  @media (max-width: 395px) {
    .whyus-column-list-item {
      display: block; } }

.whyus-column-list-amount {
  padding-right: 15px;
  border-right: 1px solid #16c2a3;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 22%;
  flex: 1 0 22%; }

.whyus-column-list__number {
  color: #16c2a3;
  font-size: 48px;
  font-weight: 700; }

.whyus-column-list__title {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.whyus-column-list__text {
  padding-left: 36px;
  color: #4b4b4d;
  font-size: 16px;
  line-height: 24px;
  text-align: justify; }
  @media (max-width: 395px) {
    .whyus-column-list__text {
      padding: 10px 0px 0px 0px; } }

.support-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin-bottom: 80px; }

.support-column {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media (max-width: 578px) {
    .support-column {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.support-column__title {
  margin-top: 50%; }
  @media (max-width: 990px) {
    .support-column__title {
      margin-top: 20%; } }
  @media (max-width: 768px) {
    .support-column__title {
      margin-top: 0%; } }

.support-column__text {
  margin-top: 32px;
  color: #4b4b4d;
  font-size: 18px;
  line-height: 25px; }

.support-column__btn {
  margin: 42px 0 135px 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  width: 270px;
  height: 67px;
  border-radius: 30px;
  padding-top: 25px;
  text-transform: uppercase; }
  @media (max-width: 992px) {
    .support-column__btn {
      margin: 42px 0 35px 0; } }

.support-column__image img {
  max-width: 100%; }
  @media (max-width: 578px) {
    .support-column__image img {
      display: none; } }

.blog {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.blog__title {
  margin-top: 100px;
  text-align: center; }
  @media (max-width: 992px) {
    .blog__title {
      margin-top: 100px; } }

.blog__subtitle {
  margin-top: 40px;
  color: #282828;
  font-size: 16px;
  line-height: 24px;
  max-width: 90%;
  text-align: center; }

.blog-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 100px 0; }

.blog-column {
  width: 50%;
  margin-bottom: 31px; }
  @media (max-width: 768px) {
    .blog-column {
      width: 100%; } }

.blog-column-block {
  margin-right: 32px;
  -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .blog-column-block:hover .blog-column-block__title {
    color: #16c2a3; }
  .blog-column-block:hover .blog-column-block-info {
    border-bottom: 2px solid #1d8983;
    border-left: 2px solid #1d8983;
    border-right: 2px solid #1d8983; }
  @media (max-width: 768px) {
    .blog-column-block {
      margin-right: 0px; } }

.blog-column-block-data {
  padding: 10px 17px 9px;
  width: 71px;
  height: 60px;
  background-color: #16c2a3;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0; }

.blog-column-block-data__number {
  font-size: 24px; }

.blog-column-block__image img {
  max-width: 100%; }

.blog-column-block-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 30px 20% 30px 20px; }

.blog-column-block__title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 330px;
  color: #4b4b4d;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  height: 74px;
  overflow: hidden; }

.blog-column-block__link {
  color: #484949;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase; }

.blog-column-list-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  position: relative;
  -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 31px; }
  .blog-column-list-item:last-child {
    margin-bottom: 0px; }
  .blog-column-list-item:hover .blog-column-list__title {
    color: #16c2a3; }
  .blog-column-list-item:hover .blog-column-list-info {
    border-top: 2px solid #1d8983;
    border-right: 2px solid #1d8983;
    border-bottom: 2px solid #1d8983; }

.blog-column-list-data {
  padding: 5px 9px 5px 9px;
  width: 45px;
  height: 41px;
  background-color: #16c2a3;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0; }

.blog-column-list-data__number {
  font-size: 24px;
  line-height: 19px; }

.blog-column-list__img {
  max-width: 100%; }

.blog-column-list-info {
  padding: 5% 6% 6% 5%; }

.blog-column-list__title {
  color: #4b4b4d;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  height: 74px;
  overflow: hidden; }

.blog-column-list__link {
  margin-top: 27px;
  color: #484949;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.contact {
  background-color: #f8f8f8; }

.contact-row {
  padding: 102px 0 100px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  @media (max-width: 768px) {
    .contact-row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 50px 0 50px 0; } }

.contact-column-info {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  margin-right: 30px; }
  @media (max-width: 768px) {
    .contact-column-info {
      margin-top: 40px;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  @media (max-width: 578px) {
    .contact-column-info {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.contact-column-info__logo img {
  max-width: 100%; }

.contact-column-info__text {
  margin-top: 30px;
  color: #484949;
  font-size: 14px;
  line-height: 24px;
  text-align: justify; }

.contact-column-links {
  -ms-flex-preferred-size: 17%;
  flex-basis: 17%;
  margin-right: 40px; }
  @media (max-width: 768px) {
    .contact-column-links {
      margin-top: 40px;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
      margin-right: 0px; } }
  @media (max-width: 578px) {
    .contact-column-links {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.contact-column-links-list {
  margin-top: 3.5vw;
  color: #4b4b4d;
  font-size: 16px;
  line-height: 26px; }

.contact-column-links-list__item a {
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .contact-column-links-list__item a:hover {
    color: #16c2a3; }

.contact-column-twitfeed {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  margin-right: 30px; }
  @media (max-width: 768px) {
    .contact-column-twitfeed {
      margin-top: 40px;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  @media (max-width: 578px) {
    .contact-column-twitfeed {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.contact-column-twitfeed-item {
  display: block;
  margin-top: 3.5vw;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  letter-spacing: 0.8px;
  text-align: justify; }

.contact-column-twitfeed__text {
  color: #4b4b4d; }

.contact-column-twitfeed__link {
  color: #16c2a3;
  letter-spacing: 0.8px; }

.contact-column-offices {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }
  @media (max-width: 768px) {
    .contact-column-offices {
      margin-top: 40px;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  @media (max-width: 578px) {
    .contact-column-offices {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.contact-column-offices__text {
  margin-top: 3.5vw;
  color: #4b4b4d;
  font-size: 16px;
  line-height: 26px; }

.contact-column-offices__map img {
  max-width: 100%; }

/*FOOTER===============================*/
.footer__text {
  color: #4b4b4d;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #b4ebe2;
  padding: 36px 0px; }

/*MEDIA====================*/
@media (max-width: 1220px) {
  .container {
    max-width: 970px; } }

@media (max-width: 992px) {
  .container {
    max-width: 750px; }
  .header-menu-list {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #151b24;
    text-align: right;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 0; }
    .header-menu-list.show {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 0; }
  .header-menu__link {
    padding: 10px 10px 10px 0;
    display: block; }
  .header-burger {
    display: block; } }

@media (max-width: 768px) {
  .container {
    max-width: 560px; }
  .banner {
    height: auto; } }

@media (max-width: 576px) {
  .container {
    max-width: 390px; } }

@media (max-width: 392px) {
  .container {
    max-width: 260px; } }
